.popup {
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 2;
  opacity: 0;
  transition: all 0.2s linear;
}